/target
.DS_Store
.direnv/*
gen/
.env
apple/HopNetFileProvider/.build
apple/HopNetFileProvider/.swiftpm
apple/HopNetFileProvider/Sources/HopNetFileProviderExtension/Generated/HopNetTypes.swift
apple/HopNetFileProvider/Sources/HopNetFileProviderExtension/Generated/HopNetVersion.swift
.vscode/launch.json
frontend/src/lib/types.ts
result
dist/
scripts/macos/.app_bundle_path
scripts/macos/.env
android/HopNetStorageProvider/.idea/
yaak/
_apalache-out/
result-*
