/target
.DS_Store
frontend/public/assets/fonts/
.direnv/*
gen/
.env
apple/HopNetFileProvider/.build
apple/HopNetFileProvider/.swiftpm
apple/HopNetFileProvider/Sources/HopNetFileProviderExtension/Generated/HopNetTypes.swift
.vscode/launch.json
frontend/src/lib/types.ts
result
dist/
scripts/macos/.app_bundle_path
scripts/macos/.env
android/HopNetStorageProvider/.idea/
yaak/
