<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>app.hopnet.photo-ingress</string>
    <key>CFBundleName</key>
    <string>photo-ingress</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>HopNet photo ingress: archives your Photos library to storage you control.</string>
</dict>
</plist>
