:root {
  font-family: 'Red Hat Display';
  background-color: #11111b; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure buttons inherit the font family */
button {
  font-family: inherit;
}

#app {
  max-width: 1280px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}
